<header>
  <div class="container d-flex align-items-center py-5">
    <div>
      <h1>
        coronavirus tracker
      </h1>
      <hr>
      <p>
        🦠 Track the new coronavirus (2019-nCoV) with live visualizations and up-to-date news. The data is retrieved directly from <a href="#">reputable sources</a> to provide
        you with the best possible insight.
      </p>
    </div>
  </div>
</header>