{{!-- Header --}}
<header>
  <div class="container">
    <h1>
      coronavirus tracker
    </h1>
    <hr>
    <p>
      🦠 Track the new coronavirus (2019-nCoV) with live visualizations and up-to-date news. The data is retrieved directly from <a href="#">reputable sources</a> to provide
      you with the best possible insight.
    </p>
  </div>
</header>

{{!-- Main --}}
<main>
  <div class="container">
    <section>
      <h3>What is a coronavirus?</h3>
      <blockquote>
        Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome
        (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV). A novel coronavirus (nCoV) is a new strain that has not been previously identified in humans.
      </blockquote>
      <p>
        For details on how to protect yourself, see <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">W.H.O.'s Advice for public</a>.
      </p>
    </section>

    {{!-- Content --}}
    {{outlet}}
  </div>
</main>

{{!-- Footer --}}
<Footer />