<div class="d-flex justify-content-center text-center my-5">
  <div>

    <h2>Oops! Something wrong happened.</h2>
    <p>
      Please come back at a later time after we've investigated this.
    </p>

  </div>
</div>