{{!-- Header --}}
<header>
  <div class="container">
    <h1>
      coronavirus-tracker
    </h1>
    <hr>
    <blockquote>
      🦠 A live tracker and visualization of the coronavirus (2019-nCoV).
    </blockquote>
  </div>
</header>

{{!-- Main content --}}
<main>

</main>

{{!-- Footer --}}
<Footer />